html, body {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 40;
  background-color: yellow;
}

.hart {
  position:  relative;
  left: calc(50% - 55px);
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  animation: heartbeat 0.9s infinite;
}
.hart:before,
.hart:after {
  position: absolute;
  content:"";
  left: 50px;
  top: 20px;
  width: 50px;
  height: 80px;
  background: red;
  border-radius: 50px 50px 0 0;
  border-color: yellow;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}
.hart:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

@keyframes heartbeat {
  0% {
    transform: scale(0.75);
  }
  20% {
    transform: scale(1);
  }
  45% {
    transform: scale(0.75);
  }
  65% {
    transform: scale(1);
  }
  90% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(0.75);
  }
}
